<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{{mobile.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Name:{{mobile.mobile_name}}</p>
                <p class="card-text">Brand:{{mobile.brand}}</p>
                <p class="card-text">Ram:{{mobile.ram}}</p>
                <p class="card-text">Price:{{mobile.price}}</p>
                <p class="card-text">Camera:{{mobile.camera}}</p>
                <p class="card-text">OS:{{mobile.os}}</p>

                <a href="{%url 'order' mobile.id%}" class="btn btn-success">Order Now</a>

<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
           </div>
</div>


    </div>
    <div class="col-4"></div>


</div>

</body>
</html>