<!DOCTYPE html>
{% extends "product/base.html" %}

{% block body_block %}
<h1>Order Details</h1>
{{item.mobile_name}}
{{item.brand}}
{{item.ram}}
<div class="container">
    <table class="table">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update">
    </form>
<!--    <table>-->
<!--        <tr>-->
<!--            <td>CustomerName : {{order.personname}}</td></tr>-->
<!--        <tr>-->
<!--            <td>Address : {{order.address}}</td></tr>-->
<!--        <tr>-->
<!--            <td>Pin : {{order.pin}}</td></tr>-->
<!--        <tr>-->
<!--            <td>Phone : {{order.phone}}</td></tr>-->
<!--        <tr>-->
<!--            <td>Email : {{order.email}}</td></tr>-->
<!--        <tr>-->
<!--            <td>ProductID : {{order.productid}}</td></tr>-->
<!--        <tr>-->
<!--            <td>Status : {{order.status}}</td></tr>-->
<!--    </table>-->
</table>
</div>
{% endblock %}